<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - oppgaver.ikt-fag.no</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Hjem</a></li>
                <li><a href="/oppgaver">Oppgaver</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <%- body %>
    </main>
</body>
</html> 